.content
  blockquote {
    color: #575757
    border-left-color: #bbc3d1
    background: #f5f5f5;
  }
body .sidebar > .sidebar-links
  padding: 0;
body .sidebar > .sidebar-links > li:first-child
  display: none;
body .theme-default-content:not(.custom)
  max-width: unset;
body .page-edit, body .page-nav
  max-width: unset;
body .sidebar-heading, body a.sidebar-link
  font-size: 14px;
body h1
  font-size: 22px;
body p
  margin: 5px auto !important;
body .no-sidebar .home .hero .description
  margin-bottom: 25px !important;
body h2
  font-size: 18px;
